.wrapper-main {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    margin: 0 auto;
    padding-top: 1.5rem; /* 24px = 1.5rem */
    padding-bottom: 3.75rem;    /* 60px = 3.75rem */

    width: 50rem;    /* 800px = 50rem */
    height: 37.5rem;    /* 600px = 37.5rem */

    /* Test */
    /* my own mild green-colour, like asalad */
    background-color: rgba(225, 242, 176, 0.5);
}

.wrapper-quiz {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 38.125rem;    /* 610px = 38.125rem */
    height: 32.1875rem;    /* 515px = 32.1875rem */

    /* Test */
    /* my own mild green-colour, like asalad */
    background-color: rgba(207, 234, 127, 0.7);

}

/* fontSize = 18px = 1.125rem */
.quiz__name {
    align-self: center;

    margin-bottom: 3rem;    /* 48px = 3rem */

    font: 1.125rem/1 "Tahoma", sans-serif;
}

#quiz-form {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;

    width: 100%;

    /* Test */
    background-color: rgba(171, 241, 233, 0.7);
}

.quiz__question-item {
    margin-bottom: 1.25rem;    /* 20px = 1.25rem */
}

.question__header {
    margin-bottom: 1rem;    /* 16px = 1rem */

    font: 1.125rem/1 "Tahoma", sans-serif;
}

.question__answer {
    margin-bottom: 0.375rem; /* 6px = 0.375rem */

    line-height: 1.125rem;    /* 18px = 1.125rem */
}

label[for^="q"] {
    font: 1rem/1 "Tahoma", sans-serif;

    /* Test mark-Up */
    background-color: springgreen;
}

/*
    Quiz submit-button ...

    Dims :
        Width : 330px = 20.625rem
        Height : 55px = 3.4375rem

        borderWidth : 3px = 0.1875rem

        fontSize = 19px = 1.1875rem
*/
input[name="quiz-check"] {
    box-sizing: border-box;

    align-self: center;

    width: 20.625rem;
    height: 3.4375rem;

    border: 3px solid rgba(103, 116, 125, 1.0);
    border-radius: 2px;

    background-color: rgba(208, 226, 240, 1.0);

    font: 1.1875rem/1 "Tahoma", sans-serif;
    line-height: 3rem; /* 48px = 3rem */
}
